<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="useDefaults" value="true" />
    <add key="width" value="270" />
    <add key="height" value="270" />
    <add key="imageType" value="png" />
    <add key="allDirs" value="true" />
    <add key="quality" value="2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>